<template>
    <nav class="cyan lighten-1">
        <div class="nav-wrapper">
            <div class="container">
                <div class="logo">
                    <i class="flight material-icons">flight</i>
                    <a href="#" class="brand-logo">Avia Tickets</a>
                </div>
                <div class="menu">
                    <div class="input-field">
                        <select ref="select">
                            <option value="USD">$ USD</option>
                            <option value="EUR">€ Euro</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
  </nav>
</template>

<script>
export default {
    data: () => ({
        select: null
    }),
    methods: {
        getSelectInstance(elem) {
            return M.FormSelect.getInstance(elem);
        }
    },
    mounted() {
        this.select = M.FormSelect.init(this.$refs.select)
    },
    beforeDestroy() {
        if(this.select && this.select.destroy) {
            this.select.destroy();
        }
    }
}
</script>

<style lang="scss">
    nav {
        height: inherit !important;
        line-height: inherit !important;
        padding: 5px 0;
        .container {
            display: flex;
            align-items: center;
        }
        .logo {
            display: flex;
            position: relative;
            align-items: center;
        }
        .brand-logo {
            position: relative !important;
            margin-left: 10px;
        }
        .menu {
            width: 100px;
            margin-left: auto;
            .select-wrapper {
                input.select-dropdown {
                    border: none;
                    color: #fff;
                    margin-bottom: 0;
                }
                .caret {
                    fill: #fff;
                }
            }    
        }
    }
</style>