<template>
    <div class="row">
        <div class="col s12 m6 form-block">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <div class="input-field">
                        <input 
                            type="text" 
                            id="autocomplete-origin" 
                            class="autocomplete"
                        >
                        <label for="autocomplete-origin">Origin</label>
                    </div>
                    <div class="input-field">
                        <input 
                            type="text" 
                            id="autocomplete-destination" 
                            class="autocomplete"
                        >
                        <label for="autocomplete-destination">Destination</label>
                    </div>
                    <div class="input-field">
                        <input 
                            type="text" 
                            id="datepicker-depart" 
                            class="datepicker"
                        >
                        <label for="datepicker-depart">Depart date</label>
                    </div>
                    <div class="input-field">
                        <input 
                            type="text" 
                            id="datepicker-return" 
                            class="datepicker"
                        >
                        <label for="datepicker-return">Return date</label>
                    </div>
                </div>
                <div class="card-action">
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
    computed: mapGetters(['allCountries', 'allCities']),
    methods: {
        ...mapActions(['fetchLocations']),
        getAutocompleteInstance(elem) {
            return M.Autocomplete.getInstance(elem);
        },
        getDatepickerInstance(elem) {
            return M.Datepicker.getInstance(elem);
        }
    },
    async mounted() {
        await this.fetchLocations()

        let getCities = this.$store.getters.getCitiesByCountryCode("UA")
        console.log(getCities)

        let autocomplete = document.querySelectorAll('.autocomplete')
        M.Autocomplete.init(autocomplete)

        const datepickers = document.querySelectorAll('.datepicker');
        M.Datepicker.init(datepickers);
    }
}
</script>

<style lang="scss">
    .form-block {
        position: relative;
        left: 50% !important;
        transform: translateX(-50%);
    }
    .card {
        margin: 10px 0 0;
        .card-content {
            padding: 15px;
            .card-title {
                margin-bottom: 0;
            }
        }
    }
</style>
